figures/*
!figures/combined_figures/
!figures/combined_figures/*
github_zenodo/
other_methods/

data/20240821_DNA_Enard_28pl_1pl/
data/20241122_DNA_Enard_PTOtest_nanopore/
data/20241122_DNA_Enard_PTOtest_trimmed/
data/data_collection_for_submission/
data/FC2024_05_01_PoP96_Quanti/

data/Adapter-Primer_test/00_fastq/

data/BBB_Resusp/00_fastq/

data/FC2024_03_01_old_new_PTO/05_deML_fastq/

data/FC2024_05_02_PoP96_BA/03_zUMIs_UMIbin/
data/FC2024_05_02_PoP96_BA/overrepresented/


data/RTase/00_fastq/

scripts/Power_Simulations/*old.rds
scripts/Power_Simulations/*PTO.rds
scripts/BRB_funnel.R
scripts/intergenigs_window_analysis/


**/00_fastq/*.fastq.gz
**/00_fastq/*.fq.gz
**/01_fastqc/
**/02_trimming/*.fastq.gz
**/02_trimming/*.fq.gz
**/02b_fastq_downsampled/
**.fq.gz.notnow
**.bam
**.bai
**.gtf
**.out
**.err
**.loom
**.bed
**chimera.rds
**/fails_and_unknown/
**/*_STAR*/
**/XX_data_submission/
**/04_analysis/
**/03b_custom_genome(s)/

scripts/blacklist_overlap/
scripts/poolsize_DE.*